<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/nav %>
    </header>
    <main class="container-fluid">
        <form method="GET" action="addPlayer">
            <div class="form-inline">
                <div class="form-group">
                    <div class="row row-fluid">
                    <div class="col-sm-5 text-nowrap">
                        <label for="name-input">NAME:</label>
                        <input id='name-input' type=text name="name">
                    </div>
                    <div class="col-sm-5 text-nowrap">
                        <label for="number-input">NUMBER:</label>
                        <input id='number-input' type=text name="number">
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </div>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <hr>

        <% for ( player of players ) { %>
            <div class="row">
                <div class="col col-xs-3"> <%- player.number %>
                        <% if (player.notifications) { %>
                        <span class="badge">
                            <%-player.notifications%>
                        </span>
                        <% } %>
                </div>
                <div class="col col-xs-3">
                    <div class="label label-primary" title="<%=player.names%>"><%= player.names[0] %>
                    <% if ( player.names.length > 1 ) { %>
                        + <%=player.names.length-1%>
                    <% } %>
                    </div>
                </div>
                <div class="col col-xs-2">
                    <% if (player.enabled) { %>
                        <a href='/setMonitorStatus/<%=encodeURIComponent(player.number)%>/false'>
                            <span class='glyphicon glyphicon-stop'></span>
                        </a>
                    <% } else { %>
                        <a href='/setMonitorStatus/<%=encodeURIComponent(player.number)%>/true'>
                            <span class='glyphicon glyphicon-play'></span>
                        </a>
                    <% } %>
                </div>
                <div class="col col-xs-2">
                    <a href='/remove/<%=encodeURIComponent(player.number)%>'>
                        <span class='glyphicon glyphicon-remove'></span>
                    </a>
                </div>
                <div class="col col-xs-2">
                    <% if (player.extras) { %>
                        <span class='glyphicon glyphicon-star'></span>
                    <% } else { %>
                    <a href='/enableExtras/<%=encodeURIComponent(player.number)%>'>
                        <span class='glyphicon glyphicon-star-empty'></span>
                    </a>
                    <% } %>
                </div>
            </div>
            <br>
            <% } %>

    </main>
</body>
</html>